.check {
	opacity: 0.5;
	color: #996;
}

p {
	color: #000;
	font-size: 1.5em;
}

.row, .memes, .memeLabel {
	height: 100%;
}

.form-group {
	height: 91%;
}

.memeBtn {
	width: 100%;
}

.img-thumbnail {
	height: 100%;
	overflow: hidden;
}